@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: #131313;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.box {
  box-shadow: rgba(254, 255, 255, 0.3) 0px 1px 2px 0px, rgba(243, 244, 245, 0.15) 0px 1px 3px 1px;
}